.container{
    width: 85%;
    /* sets an auto margin on all sides so everything comes in */
    margin: auto;
    padding: 50px;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-image: url("../Assets/images/Watch-the-weather-image1-hero.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 2px black solid;
}



header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
ul.nav-list{
    display: inline-block;
    margin-left: 25px;   
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.endingPicture {
    background-repeat: no-repeat;
    background-position: center center;
    }

#about-me p{
    margin:20px;
    padding:15px;
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height:1.6em;
}

#work li {
    float: left;
    width: 25%;
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    list-style: none;
    display: -ms-inline-flexbox;
    padding: 0;
    margin: 0;
    
}
#work img {
    float: left;
    width:  200px;
    height: 200px;
    /* object-fit: cover; */
    padding: 0;
    margin: 0;
    display: -ms-inline-flexbox;
    border: 2px black solid;
}

footer h2 {
    display: inline-block;
    font-size: 40px;
}

footer ul{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    margin-left: 25px;
}

/* button{
    float: right;
    font-size: 20px;
} */

body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* Same as above */
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height:1.6em;
    margin:0;

}
.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background-color:red;
    color: white;
}

.fix-me{
    position: fixed;
    top: 100px;
    font-size: 15px;
    float: left;
    padding: 0;
    margin:0;
}

#about-me{
    background-image: url('assets/Assets/images/aboutMe.jpg)';
}







