
.container{
    width: 85%;
    /* sets an auto margin on all sides so everything comes in */
    margin: auto;
    padding: 50px;
    flex-wrap: wrap;
    /* background-image: url('/assets/Assets/images/background.jpg') */
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-image: url("../Assets/images/Watch-the-weather-image1-hero.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 2px black solid;
    /* word-break: break-all; */
    min-height: 0px;
    flex-wrap: wrap;
}



header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 5px;
    /* margin-right: 20px; */
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    min-height: 0px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
ul.nav-list{
    display: inline-block;
    margin-left: 25px;  
    flex-wrap: wrap; 
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

#about-me{
    background: rgb(163, 177, 159);
}

#about-me p{
    margin:20px;
    padding:15px;
    font: normal 16px Arial, Helvetica, sans-serif;
    background: rgb(163, 177, 159);
    line-height:1.6em;
    flex-wrap: wrap;
}

aside{
    display: -ms-inline-flexbox;
    flex-wrap: wrap;
    
}

#work li {
    float: left;
    /* width: 25%; */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    list-style: none;
    /* display: -ms-inline-flexbox; */
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    
}

#work li a {
    border: 2px black solid;
    display:-ms-inline-flexbox;
    flex-wrap: wrap;
}
#work img{
    display: flex;
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
    padding: 0px;
    margin: 10px;
    display: -ms-inline-flexbox;
    border: 2px black solid;
    flex-wrap: wrap;
}

#contact-me{
    background: rgb(163, 177, 159);
}

#contact-me h2 {
    display: inline-block;
    font-size: 40px;
    padding: 50px;
}

#contact-me ul{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    padding: 65px;
}

#contact-me ul li {
    display: inline-block;
    margin-left: 25px;
    flex-wrap: wrap;
    position: relative;
    background: rgb(163, 177, 159);
}


body{
    /* background-color: rgb(122, 189, 122); */
    color: black;
    background-image: url("../Assets/images/background.jpg");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    /* Same as above */
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height:1.6em;
    margin:0;
    /* background-image: url('../Assets/images/aboutMe.jpg');
    /* background-repeat: no-repeat; */
    /* background-position: 100px, 200px; */
    /* background-position: center center; */ 
    flex-wrap: wrap;

}
.button{
    background-color: rgb(163, 177, 159);
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background-color:black;
    color: white;
}

.fix-me{
    position: fixed;
    top: 100px;
    font-size: 25px;
    float: left;
    padding: 0;
    margin:0;
    border: 1px black solid;
}

.bottom-right{
    /* position:relative; */
    /* top: 50%;
    left: 50%; */
  /* transform: translate(-50%, -50%); */
  color:white;
  text-align:center;
}










